.label {
  font-weight: bold;
  padding: 1ex;
  width: 10em;
  display: inline-block;
  text-align: right;
}


.error {
  color: red;
}

.title {
  font-style: italic;
  color: gray;
}
footer li {
  list-style: none;
  display: inline;
}
footer li + li::before {
  content: " | ";
}

dt {
  font-weight: bold;
  font-color: blue;
}
dd {
  margin: 0.2em 0em 1em 2em;
}

div.imgName {
  text-align: center;
  padding: 5px 10px;

}

div.polaroid {
  width: 80%;
 
}

.inline {
  display: inline;
  
}

.container {
  width: 100px;
  /* background-color: rgba(107, 107, 107, 0.884);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-bottom: 5px;
  text-align: center;
  padding: 15px 20px;
  display:inline-block;
}

.container img {
   object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
   padding: 1px 2px;
}


.container label >  input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
  display:inline;
}
.container label >  input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  display:inline;
}
.container label >  input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:3px solid #008CBA
}


/* List Styling */

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #969191;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #008CBA;
}

li a:active {
  background-color: #008CBA;
}
/* Button Styling */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 4px 6px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}