<!DOCTYPE html>
<html lang="en">

<head>
  <title>Steg Homepage</title>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>

  
  <div class="menu">
    <ul>
      <li>
        <a href="{{{base}}}/index.html">Home</a>
      </li>
      <li>
        <a href="hide.html">Hide Message</a>
      </li>
      <li>
        <a href="unhide.html">Unhide Message</a>
      </li>
    </ul>
  </div>
  <h1>Steg Homepage</h1>

  <p>
    <a href="hide.html">Hide</a> a msg in image</p>
  <p>
    <a href="unhide.html">Unhide</a> a msg from image</p>
  <!-- <p><a href="search.html">Search</a> for a particular user.</p> -->
</body>

</html>